.map-app-container {
  display: flex;
}

.search-container{
  margin-left: 25px;
  margin-top: 10px;
}

.search-container input {
  padding: 8px 28px;
  margin-right: 10px;
}

.search-container button {
  padding: 10px 30px;
}

.btn-clip{
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom:10px ;
  width: 388px;
}

.btn-location{
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom:5px ;
  width: 388px;
}