.loc-list {
  border: 2px solid var(--gray-300);
  border-radius: 0.5rem;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  transition: var(--transition);
}

.btn-delete{
  display: none;
}

.loc:hover {
  border-color: var(--gray-500);
  color: var(--green-300);
  cursor: pointer;
  transition: var(--transition);
}
