.loc-list {
  border: 2px solid var(--gray-300);
  border-radius: 0.5rem;
  width: 400px;
  height: 200px;
  margin-left: 20px;
  transition: var(--transition);
}

.loc-list h2{
  margin-top: 10px;
 font-size: 2em;
 color: var(--green-300);
 font-family: sans-serif;
}

.loc-list .btn-container{
  display: none;
}

.loc-list .btn-danger{
  margin-right: 5px;
}

.loc:hover {
  border-color: var(--gray-500);
  color: var(--green-300);
  cursor: pointer;
  transition: var(--transition);
}
