.modal {
  border: 2px solid var(--gray-300);
  border-radius: 0.5rem;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  background-color: aliceblue;
  transition: var(--transition);
  box-shadow: 8px 7px 14px 0px rgba(0,0,0,0.75);
}

.hide{
  display: none;

}

.show{
  display: block;

}


.modal:hover {
  /* border-color: var(--gray-500); */
  color: var(--teal-600);
  transition: var(--transition);
}
