.weather-preview {
  border: 2px solid var(--gray-300);
  border-radius: 0.5rem;
  width: 400px;
  height: 200px;
  margin-left: 20px;
  transition: var(--transition);
  text-align: center;
}

/* .btn-delete{
  display: none;
} */
.btn-container{
  display: none;
}

.weather-preview h1{
 margin-top: 10px;
 font-size: 2em;
 font-family: sans-serif;

 color: var(--blue-300);
}
.weather-list{
  margin-top: 10px;
  text-align: left;
}

.weather-list li{
  margin-bottom: 5px;
}

.loc:hover {
  border-color: var(--gray-500);
  color: var(--green-300);
  cursor: pointer;
  transition: var(--transition);
}
